.sidebar{
    position:fixed;
    z-index: 10;

    .bg{
        width:400px;
        height:100vh;
        background-color: white;
        color:black;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        div{
            text-align: center;
        }
    }
    button{
        position:fixed;
        background-color:transparent;
        border: none;
        top:40px;
        left:40px;
        cursor: pointer;
    }
    a{
        color:black;
        display: block;
        margin-bottom:25px;
        font-size: 20px;
    }
}

